/* Error: Undefined mixin.
 *    ,
 * 11 | /   @include respond(tab-land) {
 * 12 | |     // width < 1200?
 * 13 | |     font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
 * 14 | \   }
 *    '
 *   sass/base/_base.scss 11:3  @forward
 *   sass/main.scss 6:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 11 \2502  \250c    @include respond(tab-land) {\a 12 \2502  \2502      // width < 1200?\a 13 \2502  \2502      font-size: 56.25%; //1 rem = 9px, 9/16 = 50%\a 14 \2502  \2514    }\a    \2575 \a   sass/base/_base.scss 11:3  @forward\a   sass/main.scss 6:1         root stylesheet";
}
