// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #25b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-row-width: 114rem;
$row-gap: 8rem;
$column-gap: 6rem;
