@use '../abstracts/variables' as variables;
.grid-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: variables.$row-gap;
  .row {
    flex: 1 0 auto;
    max-width: variables.$grid-row-width;
    width:100%;
    background-color: #eee;
  }
}
